<div>
    <h2>Please use the following form to register an account</h2>
    <form>
        <input type="text" id="username" placeholder="Nickname"><br>
        <input type="text" id="email" placeholder="Email"><br>
        <input type="password" id="password" placeholder="Password"><br>
        <input type="password" id="password2" placeholder="Repeat password"><br>
        <input type="submit" value="Register account">

    </form>
    Already have an account? Then <a href="/signin">sign in here</a>
</div>