<div class="main newSnippet">
    <form method="post" action="/snippet/new">
        <input type="hidden" name="username" id="username" value="{{user}}">
        <input type="text" name="name" id="name" placeholder="Snippet name..">
        <textarea name="snippet" id="snippet" placeholder="Snippet.."></textarea>
        <input type="text" name="tags" id="tags" placeholder="Tags - separete with , sign">
        <input type="submit" value="Post snippet">
    </form>
</div>