<div class="codesnippet">
    <h3>Lorem ipsum</h3>
<pre>
<code>&#60;head>
    &#60;meta charset="utf-8">
    &#60;title>ja222um code snippet platform&#60;/title>asdasddasdasdasdasdasdasdasdasdsadasdasdasd
    &#60;link rel="stylesheet" href="css/style.css">
&#60;/head>
&#60;head>
    &#60;meta charset="utf-8">
    &#60;title>ja222um code snippet platform&#60;/title>
    &#60;link rel="stylesheet" href="css/style.css">
&#60;/head>
&#60;head>
    &#60;meta charset="utf-8">
    &#60;title>ja222um code snippet platform&#60;/title>
    &#60;link rel="stylesheet" href="css/style.css">
&#60;/head></code>
</pre>


    <div class="metadata">
        Created by brocahontaz on 2020-02-02
    </div>
</div>