html, body, div, header, nav, main, section, footer
{
	margin: 0;
	padding: 0;
}

header, nav, main, footer, section
{
	display: block;
}

body {
	width: 100%;
	background-color: #c5c5c5;
	font-family: Geometos Rounded;
	color: #000;
	font-family: Arial;
	font-size: 62.5%;
}

header {
	width: 100%;
	height: 50px;
	position: relative;
	background: #4ac2ff;
	background: -moz-linear-gradient(top, #4ac2ff 0%, #329bd0 100%);
	background: -webkit-linear-gradient(top, #4ac2ff 0%,#329bd0 100%);
	background: linear-gradient(to bottom, #4ac2ff 0%,#329bd0 100%);
	color: #fff;
	display: flex;
	align-items: center;
	padding-left: 10px;
	box-sizing: border-box;
}

header a:link 
{
	color: #FFF;
	text-decoration: none;
}

header a:visited 
{
	
	color: #FFF;
	text-decoration: none;
}

header a:hover 
{
	
	color: #FFF;
	text-decoration: none;
}

header a:active 
{
	color: #FFF;
	text-decoration: none;
}

#headerTitle {
	color: #fff;
	font-size: 1.0rem;
	margin-top: 0px auto;
	font-weight: bold;
}

header div {
	margin-left: 10px;
	margin-right: 10px;
}

nav {
	margin-left: 10px;
	margin-right: 10px;

}

nav a:link 
{
	color: #FFF;
	text-decoration: underline;
}

nav a:visited 
{
	
	color: #FFF;
	text-decoration: underline;
}

nav a:hover 
{
	
	color: #FFF;
	text-decoration: underline;
}

nav a:active 
{
	color: #FFF;
	text-decoration: underline;
}

main {
	box-sizing: border-box;
	padding: 10px;
	font-size: 0.8rem;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding-bottom: 40px;
}

main div {
	width:400px;
	padding: 20px;
	background-color: #fff;
	margin: 10px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	background: #383838;
	color: #fff;
	background: -moz-linear-gradient(top, #383838 0%, #2d2d2d 100%);
	background: -webkit-linear-gradient(top, #383838 0%,#2d2d2d 100%);
	background: linear-gradient(to bottom, #383838 0%,#2d2d2d 100%);
	width: 100%;
	height: 30px;
	padding-left: 20px;
	display: flex;
	align-items: center;
	/*border-bottom: 10px solid #000;*/
	box-sizing: border-box;
}

h2,h3 {
	margin: 0px;
	font-weight: bold;
	font-size: 0.8rem;
}

div.flash {
	font-weight: bold;
	max-width: fit-content;
	min-width: 400px;
}

div.flash.type-danger {
	background-color: red;
	color: #fff;
}

div.flash.type-success {
	background-color:green;
	color: #fff;
}

div.codesnippet {
	min-width: 400px;
	/*max-width: 800px;*/
}
/*
div.codesnippet:hover,div.codesnippet:focus {
	width: min-content;
	max-width: 800px;

}*/

div.codesnippet pre {
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
	overflow: hidden;
	text-overflow: ellipsis;
    padding: 0.5rem 0.5rem;
	/*height: 2.4rem;*/
	max-height: 3.6rem;
}
/*
div.codesnippet pre:hover,pre:focus {
	width: min-content;
	max-width: 800px;
}*/

div.codesnippet .metadata {
	width: 100%;
	height: 0;
	font-size: 0.6rem;
	background-color: red;
	padding: 0;
	text-align: right;
}

div.info {
	min-width:400px;
	max-width:fit-content;
	line-height:1.0rem;
}