<div class="info">
    <h2>Please use the following form to register an account</h2>
    <form method="post" action="/user/register">
        <input type="text" name="username" id="username" placeholder="Nickname"><br>
        <input type="text" name="email" id="email" placeholder="Email"><br>
        <input type="password" name="password" id="password" placeholder="Password"><br>
        <input type="password" name="password2" id="password2" placeholder="Repeat password"><br>
        <input type="submit" value="Register account">

    </form>
    Already have an account? Then <a href="/user/signin">sign in here</a>
</div>