<header>
    <div id="headerTitle">
        <a href="/">ja222um code snippet platform</a>
    </div>
    <nav>
        {{#if loggedIn}}
            {{> userMenu }}
        {{else}}
            {{> loginMenu}}
        {{/if}}
    </nav>
</header>