<div class="info">
    <h2>Please use the following form to sign in</h2>
    <form method="post" action="/user/signin">
        <input type="text" name="email" id="email" placeholder="Email" value="{{data.form.email}}"><br>
        <input type="password" name="password" id="password" placeholder="Password"><br>
        <input type="submit" value="Sign in">

    </form>
    Don't have an account already? Then <a href="/user/register">register here</a>
</div>