{{#unless loggedIn}}
<div class="info">
<h2>Welcome to a code snippet platform developed by ja222um </h2>
Start by registering an account by using the menu above.<br>
Or sign in if you already have an account.
</div>
{{/unless}}

